@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

button {
	background-color: #333;
	border: 0 none;
	border-radius: 3px;
	color: #fff;
}

.snippet-detail {
	margin: 0 auto;
	width: 960px;

	.snippet-description input {
		border: 1px solid #999;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		width: 100%;
	}

	.snippet-content {
		border: 1px solid #666;
		margin-top: 10px;
		position: relative;
		width: 100%;

		.tools {
			background-color: #ccc;
			padding: 5px 10px;
			position: absolute;
			overflow: hidden;
			width: 100%;
		}

		.content {
			margin-top: 33px;

			textarea {
				border: 0 none;
				display: block;
				font-family: courier new;
				margin: 0;
				padding: 10px;
				width: 100%;
				max-width: 100%;
				min-height: 80px;
			}
		}
	}

	.snippet-tags {
		margin: 10px 0;
		overflow: hidden;
	}

	.snippet-tags h3 {
		float: left;
		margin: 0;
	}

	.snippet-tags ul.tags {
		list-style: none;
		margin: 0 0 0 80px;
		padding: 0;
		overflow: hidden;
	}

	.snippet-tags ul.tags li {
		background-color: #333;
		border-radius: 3px;
		color: #fff;
		float: left;
		margin: 0 0 5px 5px;
		padding: 2px 8px 5px;
	}
}