<div class="snippet-detail">
	<h2>Snippet</h2>
	<div class="snippet-description">
		<input type="text" placeholder="Description" value="{{ description }}" />
	</div>

	<div class="snippet-author">
		<div class="tools">
			<button type="button">Some Tool</button>
			<button type="button">Another Tool</button>
		</div>
		<div class="content">{{ content }}</div>
	</div>

	<button type="button">Save</button>
</div>